/deployment_config.json
/laravel_sync_.git.txt
/laravel_sync_.idea.txt
/laravel_sync_app.txt
/laravel_sync_bootstrap.txt
/laravel_sync_config.txt
/laravel_sync_database.txt
/laravel_sync_node_modules.txt
/laravel_sync_public.txt
/laravel_sync_resources.txt
/laravel_sync_routes.txt
/laravel_sync_script.txt
/laravel_sync_standalone_files.txt
/laravel_sync_storage.txt
/laravel_sync_tests.txt
/laravel_sync_vendor.txt
/load copy.py
/react_sync_script.txt
/winscp.log